main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 600px;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 399px;
}
main h2{
    font-size: 2.5rem;
    padding-left: 360px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: #0000;
    font-weight: 800;
}
main h1{
    font-size: 6.25rem;
    margin-top: -30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: #0000;
    font-weight: 900;
    padding-left: 100px;
}
.lendaInfo{
    display: flex;
    align-items: center;
}
.lenda{
    color: #f00;
    font-size: 2.25rem;
    transform: rotate(270deg);
    font-weight: 600;
    margin-left: 70px;
}
.sinopse{
    font-size: 1.55rem;
    font-weight: 100;
    margin-left: 19px;
    width: 400px;
    height: 160px;
}
.informacoes{
    display: grid;
    grid-template-areas:
    "bloco1 rectangle1 bloco2 rectangle2 bloco3";
    margin-left: 99px;
    margin-top: 76px;
}
.bloco1{
    font-style: italic;
    grid-area: bloco1;
    
}
.p11{
    font-size: 1.3rem;
}
.p12{
    font-size: 1.1rem;
}
.rectangle1{
    height: 53px;
    width: 3px;
    background-color: #E50914;
    grid-area: rectangle1;
    z-index: 99;

}
.bloco2{
    font-style: italic;
    grid-area: bloco2;
}
.p21{
    font-size: 1.3rem;
}
.p22{
    font-size: 1.1rem;
}
.rectangle2{
    height: 53px;
    width: 3px;
    grid-area: rectangle2;
    z-index: 99;
    background-color: #E50914;
}
.bloco3{
    font-style: italic;
    grid-area: bloco3;
}
.p31{
    font-size: 1.3rem;
}
.p32{
    font-size: 1.1rem;
}
