body{
    width: 100vw;
    height: 100vh;
    background-image: url(/pages/Sobre/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-color: #000000cc;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}
