body{
    width: 100vw;
    height: 100vh;
    background-image: url(./Boto/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-color: #E5091430;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}